body{margin:0;
  padding:0;
  
 }
 form{background: linear-gradient(90deg, #da61ff, #0062ff);
margin-top: 50px;
width: 500px;
height:900px;
  display: flex;
  margin: auto;
flex-direction: column;
box-sizing: border-box;
border-radius: 90px;
border:solid 3px color white;}
 
/* form {box-sizing: border-box;
border-radius: 30px;
border:solid 3px color( red green blue)}; */
  .input-wrapper{text-align: center;
    margin-bottom: 6px;
  
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Courier New', Courier;
  }
  .input-wrapper input {
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 6px;
    border-style: none;
    border-radius: 20px;
    text-align: center;
  }
  .footer{display: flex;
  flex-direction: row-reverse;
align-items: center;
justify-content: center;}

  .content-footer p{
    
    font-size: 25px;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
  }

  
.error{color:red;
  font-style: italic;
font-size: 14px;
font-family: 'Times New Roman', Times, serif;}

.footer input{width: 20px;
  height:20px;}
  
.submitBtn{display: flex;
border-radius: 20px;
font-size: 30px;
font-weight: bold;
text-align: center;
font-family: 'Courier New', Courier;
background-color:#0062ff;
color: white;
margin:auto;
margin-bottom: 50px;
box-shadow: 10px 10px 5px 0px rgba(72, 77, 77, 0.75);
border-color:white;
border: solid 2px;}
.submitBtn:hover{background-color:green;
  color:white;
}